<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron</title>
  </head>
  <body>
    <h1> <%= @team_name %></h1>
    
    <h2>Team Motto: <%= @team_motto %></h2>
    
    <% @members.each_with_index do |heroes, index| %>
    
    <h2>Hero Name: <%= @hero_name[index] %> </h2>
    
    <p>Hero Power: <%= @hero_power[index] %></p>
    <p>Hero Biography: <%= @hero_bio[index] %></p>
    
    <% end %>
  </body>
</html>

